stages:
  - compile
  - test
  - cleanup

compile:
  stage: compile
  script:
    - make
    - echo "*-----Compiled-----*"
  tags: [private]

test:
  stage: test
  script:
    - make test
    - echo "*-----Test-----*"
  tags: [private]
  only: 
    - master

test_unit:
  stage: test
  script:
    - make test_unit
    - echo "*-----Test-----*"
  tags: [private]
  except:
    - master

test_parse:
  stage: test
  script:
    - make test_parse
    - echo "*-----Test-----*"
  tags: [private]
  except:
    - master

test_typecheck:
  stage: test
  script:
    - make test_typecheck
    - echo "*-----Test-----*"
  tags: [private]
  except:
    - master

test_compile:
  stage: test
  script:
    - make test_execution
    - echo "*-----Test-----*"
  tags: [private]
  except:
    - master
  when: manual


cleanup:
  stage: cleanup
  script:
    - make clean
  when: always

